
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
    font-family: 'Archangel';
    src: url(../fonts/ofont.ru_Archangelsk.ttf);
}

* {
    margin: 0;
    padding: 0;
}

*::before,
*::after {
    box-sizing: border-box;
}



h1, h2, h3, h4 {
    font-family: 'Archangel', serif;
    font-weight: 400;
    font-style: normal; 
}

body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    overflow-x: hidden;
}

.container {
    padding: 0 320px;
}

header {
    position: relative;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    right: 0; left: 0;
    z-index: 3;
    margin-top: 20px;
}

.header__links {
    display: flex;
    gap: 40px;
}

.hero {
    position: relative;
    transition: all 300ms;
    background-color: #ffffff;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero__content {
    position: relative;
    height: 100vh;
    width: 100%;
}

.hero__banner {
    width: 624px;
    height: 369px;
    clip-path: polygon(10% 0, 100% 0, 100% 83%, 90% 100%, 0 100%, 0 17%);
    background: #F8F200;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 3;
}

.hero-banner__content {
    margin: 70px;
}

.hero-banner__title {
    font-size: 62px;
}

.hero-banner__content .btn {
    margin-top: 25px;
}

.btn {
    width: 272px;
    height: 78px;
    background: #000000;
    padding: 19px 50px;
    color: #F8F200;
    font-weight: 700;
    font-size: 23px;
    border: none;
}

.btn:hover {
    cursor: pointer;
}


.sity__content {
    padding: 70px 0;
}

.sity__title {
    font-size: 62px;
    font-weight: 400;
}

.sity__info {
    margin-top: 15px;
    font-size: 18px;
    font-weight: 400;
    line-height: 34px;
    color: #777777;
}

.sity__info span {
    color: #52BEDC;
    font-weight: 700;
}

.sity__photos {
    margin-top: 70px;
    display: flex;
    gap: 32px;
}

.sity__photos > div {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.sity-photo-1, .sity-photo-2, .sity-photo-3 {
    clip-path: polygon(10% 0, 100% 0, 100% 83%, 90% 100%, 0 100%, 0 17%);
}


.sity-photo-3, .sity-photo-2, .sity-photo-1 {
    background-image: url('../img/sity/sity-photo-3.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 788px;
}

.sity-photos__one-row div {
    width: 460px;
    height: 196px;
}

.sity-photo-1 {background-image: url('../img/sity/sity-photo-1.png');}
.sity-photo-2 {background-image: url('../img/sity/sity-photo-2.png');}


.game {
    background: #000000;
    color: #ffffff;
    position: relative;
    padding: 85px 0 140px 0;
}

.game__content {
    position: relative;
}

.game::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 70px;
    background-image: url(../img/game/before.png);
    background-repeat: repeat-x;
}
.game::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 70px;
    background-image: url(../img/game/after.png);
    background-repeat: repeat-x;
}

.game__title {
    font-size: 62px;
    font-weight: 400;
    padding: 55px 0 14px 164px;
    background-image: url('../img/game/title-img.svg');
    background-repeat: no-repeat;
    background-position: left top;
}

.game__info {
    margin-top: 25px;
    font-size: 18px;
    font-weight: 400;
    max-width: 952px;
}

.game__info span {
    color: #52BEDC;
    font-weight: 700;
}

.game__form {
    display: flex;
    margin-top: 25px;
}

.game__form form {
    display: flex;
    row-gap: 35px;
    flex-wrap: wrap;
    max-width: 460px;
    margin-top: 73px;
}

.game__form input {
    width: 460px;
    height: 35px;
    background: none;
    border: none;
    border-bottom: 1px solid #777777;
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;

}

.game__form input::placeholder {
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
}

.game__form button {
    background: #F8F200;
    color: #000000;
    width: 192px;
    height: 59px;
    padding: 0;
}

.form-label__file {
    width: 460px;
    height: 120px;
    border: 1px dashed #777777;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-label__info {
    display: flex;
    flex-wrap: wrap;
    max-width: 186px;
    justify-content: center;
    font-size: 18px;
    font-weight: 300;
}

.form-label__accept {
    font-size: 12px;
    font-weight: 300;
}

.form-label__text {
    text-decoration: underline;
}

.checkbox-label {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.checkbox-input {
    display: none;
}

.checkbox-label .checkbox__text {
    margin-left: 10px;
    font-size: 12px;
    font-weight: 300;
}

.checkbox-input-custom {
    width: 14px;
    height: 14px;
    position: relative;
    background: none;
    border: 1px solid #777777;
}

.checkbox-input-custom::before {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('../img/game/check.svg');
    background-repeat: no-repeat;
    transition: opacity 200ms;
    opacity: 0;
}

.checkbox-input:checked + .checkbox-input-custom::before {
    opacity: 1;
}

picture img {
    margin-left: 32px;
    max-width: 100%;
    min-width: 300px;
}


.monitor {
    background: #F8F200;
    color: #000000;
}

.monitor__content {
    padding: 70px 0;
    display: flex;
    gap: 32px;
}

.monitor-info__title {
    font-size: 62px;
    font-weight: 400;
}

.monitor-info__text {
    font-size: 18px;
    font-weight: 400;
    margin: 25px 0;
}

.monitor-info__quality > div p {
    padding-left: 42px;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 5px;
}

.monitor-info__quality  {
    display: flex;
    flex-wrap: wrap;
    max-width: 390px;
    row-gap: 20px;
}

.monitor-info__quality button {
    width: 194px;
    height: 59px;
    margin-top: 40px;
    padding: 0;
}

.monitor-color {
    background-image: url('../img/monitor/color-img.svg');
    background-repeat: no-repeat;
}
.monitor-definition {
    background-image: url('../img/monitor/stars-img.svg');
    background-repeat: no-repeat;
}
.monitor-movement {
    background-image: url('../img/monitor/blocs.svg');
    background-repeat: no-repeat;
}

.monitor-photos__logos {
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
}

.monitor-photos__logos > div {
    display: flex;
    gap: 25px;
}

.monitor__img {
    min-width: 300px;
    max-width: 624px;
}


.buy {
    background-image: url('../img/buy/buy-photo.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: auto;
    overflow-x: hidden;
}

.buy__content {
    margin-left: 50%;
    background-color: #000000;
    color: #ffffff;
    padding: 70px 32px;
    width: 100%;
}

.buy__title {
    font-size: 62px;
    font-weight: 400;
    margin-bottom: 25px;
}

.buy__set-title {
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    color: #52BEDC;
    margin-bottom: 15px;
    font-weight: 700;
}

.buy__set li {
    padding-left: 42px;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 5px;
}

.buy__set {
    margin-bottom: 70px;
    padding: 0;
    list-style: none;
}

.buy__set .disk{background-image: url('../img/buy/Subtract.svg'); background-repeat: no-repeat; margin-bottom: 15px;}
.buy__set .pc{background-image: url('../img/buy/console.png'); background-repeat: no-repeat; margin-bottom: 15px;}
.buy__set .info{background-image: url('../img/buy/collections.png'); background-repeat: no-repeat;}

.buy__platform h3 {
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    color: #52BEDC;
    margin-bottom: 25px;
    font-weight: 700;
}

.buy__platform div {
    display: flex;
    flex-wrap: wrap;
    max-width: 360px;
    gap: 80px;
    row-gap: 47px;
    align-items: center;
}

footer {
    background-color: #ffffff;
}

.footer__content {
    padding: 13px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__links {
    display: flex;
    gap: 32px;
}

.footer__links a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: #000000;
}

.footer__logos {
    display: flex;
    align-items: center;
    gap: 32px;
}

.footer__copyright {
    background-color: #000000;
    color: #ffffff;
}

.footer__copyright p {
    display: flex;
    justify-content: center;
    padding: 13px 0;
    font-size: 12px;
    font-weight: 400;
}

@media (max-width: 1024px) {
    .container {
        padding: 0 36px;
    }

    .sity__photos {
        flex-wrap: wrap;
        max-width: 960px;
    }
    .sity__photos > div {
        display: flex;
        flex-wrap: nowrap;
    }
    .sity-photo-3 {
        width: 952px;
        height: 424px;
    }

    .game__text {
        max-width: 460px;
    }

    .game__title {
        padding: 162px 0 0 0;
    }

    .game__img {
        position: absolute;
        top: 0;
    }

    .monitor-img {
        width: 460px;
    }

    .monitor__photos {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .monitor-photos__logos {
        flex-wrap: wrap;
        max-width: 320px;
        align-items: center;
        justify-content: center;
    }

    .monitor-photos__logos > div {
        flex-wrap: wrap;
        max-width: 100px;
    }

    .buy__content {
        margin-left: 30%;
    }

    .buy__title {
        max-width: 624px;
    }
}

@media (max-width: 450px) {

    .container {
        padding: 0 12px;
    }

    .hero {
        background-position: center;
    }

    .header__logo img {
        width: 200px;
    }

    .header__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .header__links {
        width: 100%;
        gap: 0;
        justify-content: space-between;
    }
    .header__links a > img {
        width: 25px;
        height: 25px;
    }

    .hero__banner {
        width: 320px;
        height: 207px;
        right: -12px;
        bottom: -30px;
    }
    .hero-banner__content {
        margin: 30px;
    }
    .hero-banner__title {
        font-size: 30px;
        text-align: center;
    }
    .hero-banner__content .btn {
        width: 260px;
        height: 60px;
        font-size: 20px;
    }

    .sity__content {
        padding: 100px 0 70px 0;
    }
    .sity__title {
        font-size: 30px;
    }
    .sity-info {
        font-size: 16px;
        line-height: 32px;
    }
    .sity__photos {
        position: relative;
        left: -12px;
    }
    .sity__photos > div {
        flex-wrap: wrap;
    }
    .sity-photos__one-row div {
        width: 320px;
        height: 196px;
    }
    .sity-photos__two-row div {
        width: 320px;
        background-position: center;
    } 

    .game__title {
        padding-top: 205px;
        background-size: 62px;
        font-size: 30px;
    }
    .game__photos img {
        left: 0; top: 55px; right: 0;
        margin: 0;
    }
    .game__info {
        font-size: 16px;
        line-height: 32px;
    }
    .game__form form {
        max-width: 296px;
    }

    .monitor__content {
        display: block;
    }
    .monitor__photos {
        gap: 25px;
    }
    .monitor-photos__logos, .monitor-photos__logos > div {
        display: flex;
        flex-wrap: nowrap;
        gap: 13px;
    }
    .monitor-photos__logos .hp-logo {
        width: 44px;
        height: 44px;
    }
    .monitor-photos__logos .bunch {
        width: 50px;
        height: 10px;
    }
    .monitor-photos__logos .cyberpunk-logo {
        width: 175px;
    }
    .monitor-photos__logos > div {
        align-items: center;
    }

    .monitor__info {
        margin-top: 40px;
    }
    .monitor-info__title {
        font-size: 30px;
    }
    .monitor-info__text {
        font-size: 16px;
        line-height: 32px;
    }

    .buy {
        background-size: contain;
    }
    .buy__content {
        margin-left: -12px;
        margin-top: 198px;
        padding: 40px 12px;
    }
    .buy__title {
        font-size: 30px;
    }
    .buy__platform > div {
        max-width: 320px;
        gap: 0;
        row-gap: 40px;
    }
    .buy__platform > div .pc {
        margin-right: 56px;
    }
    .buy__platform > div .stadia {
        margin-right: 70px;
    }

    .footer__content {
        position: relative;
        padding-bottom: 155px;
    }
    .footer__content, .footer__logos, .footer__links {
        flex-wrap: wrap;
    }
    .footer__logos {
        align-items: center;
        justify-content: center;
        gap: 25px;
        margin-top: 40px;
    }
    .footer__logos .logo img {
        width: 200px;
    }
    .footer__logos .CD-logo img {
        width: 116px;
    }

    .footer__links {
        display: block;
        position: relative;
        top: 20px; left: auto;
        
        margin: 0 auto;
        padding-top: 10px;

        background: local #fff;
        color: red;

        font-family: 'Courier New', Courier, monospace;
        font-size: 20vw;
        font-weight: 500;
    }

}